body{
    margin:0;
    padding:0;
    background-color: burlywood;
}

nav{
    text-align: center;
    margin:10px;
    font-size:1.5em;
}

h1{
    text-align: center;

}

a{
    margin:  10px;
    text-decoration: none;
    color:black
}

a:hover{
    text-decoration: underline;
}

.blogPost{
    text-align: center;
}

.blogPost h3{
    font-size:2.5em;
}

.blogPost img{
    height: 35em;
}

.onlyOne{
    display:flex;
    flex-direction: column;
}

.onlyOne h3{
font-size: 2.5em;
text-align: center;
}

.onlyOne img{
  
    height: 12em;

}

.onlyOne p{
    font-size: 1.2em;
}

.wrap{
   display:flex;
    /* flex-wrap: wrap-reverse; */
    justify-content: center;
    gap:2em;
    margin: 1.5em 15em;
}

form{
    text-align: center;
}
div #text{
    height:10em;
    width:45em;
}

div #image{
width: 35em;
height: 2em;
}

div #title{
width: 35em;
height: 2em;
}


footer{
    text-align: center;
}

footer p{
    font-size: 1.5em;
}